#APPLICATION 
ENV=DEV
APP_NAME=Tecno_System
APP_PORT=8080

#SESSION AND COOKIES
COOKIES_ENCRYPT=true
COOKIES_LIFETIME="20 minutes"
COOKIES_SECRET=ThisIsASecretKey

#SESSION
SESSION_DRIVER=database 
SESSION_DIRECTORY=sessions 
SESSION_TABLE=sessions

#DATABASE
DB_DRIVER=mysql
DB_HOST=mysql-slim
DB_DATABASE=tecno
DB_USERNAME=root
DB_PASSWORD=password
DB_PORT=3306
DB_CHARSET=utf8
DB_COLLATION=utf8_unicode_ci
DB_PREFIX=